    <article class="rental">
        <img src={{@hotel.image}} width="20%">
        <div class="details">
            <h3>{{@hotel.name}}</h3>
            <div class="detail owner">
            <span>Country:</span> {{@hotel.country}}
            </div>
            <div class="detail type">
            <span>City:</span> {{@hotel.city}}
            </div>
            <div class="detail location">
            <span>Type:</span> {{@hotel.type}}
            </div>
            <div class="detail bedrooms">
            <span>Stars:</span> {{@hotel.stars}}
            </div>
        </div>
    </article>  

