<MenuBar />
<div class="booking-div">
    <button class="booking-button-create" type="button" {{on "click" this.onClickCreate}}>Create Booking</button>
    <button class="booking-button-delete" type="button" {{on "click" this.onClickDelete}}>Delete Booking</button>
</div>
{{outlet}}
<h2 class="list-title">Lista de Bookings</h2>
<table class="bookings-table">
    <thead>
        <tr>
            <th class="bookingsTh">Booking ID</th>
            <th class="bookingsTh">Hotel ID</th>
            <th class="bookingsTh">Start Date</th>
            <th class="bookingsTh">End Date</th>
            <th class="bookingsTh">Description</th>
            <th class="bookingsTh">Pax</th>
            <th class="bookingsTh">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each this.Bookings.bookingList as |booking|}} {{!-- Llamamos al servicio que contiene la lista de bookings (objetos) y los recorremos (los mostrar치 todos) --}}
            <tr>
                <td class="bookingsTd">{{booking.id}}</td>
                <td class="bookingsTd">{{booking.hotelId}}</td>
                <td class="bookingsTd">{{booking.startDate}}</td>
                <td class="bookingsTd">{{booking.endDate}}</td>
                <td class="bookingsTd">{{booking.description}}</td>
                <td class="bookingsTd">{{booking.pax}}</td>
                <td class="bookingsTd">
                    <button class="booking-button" type="button" {{on "click" (fn this.goToBookingCard booking)}}>Edit</button> {{!-- Al hacer click activamos funci칩n que redirige a la p치gina de 
                    booking-card y le pasa como par치metro el booking que queremos editar--}}
                    <button class="booking-button-delete-2" type="button" {{on "click" (fn this.eliminarBooking booking)}}>Delete</button>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>