<div>
    <form class="login-form">
        {{#if this.Application.logedUser}}
            <h4>Bienvenido/a {{this.Application.logedUser.username}}</h4>
            <button type="button" {{on "click" this.onClickLogout}}>Cerrar Sesi칩n</button> 
        {{else}}
            <h2 class="login">Inicio de Sesi칩n</h2>
            <input type="text" placeholder="Nombre de usuario" {{on "change" this.onInputUsername}} value={{this.username}} />
            <input type="password" placeholder="Contrase침a" {{on "change" this.onInputPassword}} value={{this.password}} />
            <button type="button" {{on "click" this.onClickLogin}}>Iniciar Sesi칩n</button>
        {{/if}}
    
    </form> 
</div>
{{outlet}}