<div>
    <form class="login-form" onsubmit="return false">
        {{#if this.Application.token}}
            <h4>Bienvenido/a {{this.Application.token.user}}</h4>
            <button class="login-button-2" type="button" {{on "click" this.onClickLogout}}>Log Out</button> 
        {{else}}
        {{!-- <button value="1" type="submit" {{on "click" this.consumiendoPromesaFetch}}>Fetch</button>
        <button value="2" type="submit" {{on "click" this.consumiendoPromesaAjax}}>Ajax</button> // Botones para practicar los ejemplos de comunicación asíncrona --}} 
        <p>{{this.asynchronous}}</p>
        <div class="div-login">
            <div class="formulario-login">
                <div class="label-login">
                    <label class="login">Welcome to Project<b>Bookings</b></label>
                </div>
                <div class="input-div">
                    <input class="input-login" type="text" placeholder="Username" {{on "change" this.onInputUsername}} value={{this.username}} />
                </div>
                <div class="input-div-2">
                    <input class="input-login" type="password" placeholder="Password" {{on "change" this.onInputPassword}} value={{this.password}} />
                </div>
                <button class="login-button" type="button" {{on "click" this.login}}>Sign In</button> {{!-- Si error, cambiar a type button --}}
            </div>
            <div class="div-login-img">
                <img src="images/alberca-nueva-frente.jpg" class="login-img">
            </div>
        </div>
        {{/if}}
    </form> 
</div>
{{outlet}}
